<div class="row" style="opacity: 0.8;">

  <div class="col-md-6 mx-auto">
            <br><br>
    <div class="card text-white" style="background-color: #154e9c">

      <div class="card-header pt-5">
        <h4 class="text-center">
          Registro del Usuario
        </h4>

        <form action="/auth/signup" method="POST">
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
      <div class="card-body">
          <div class="mb-3">
            <label for="email">Email:</label> 
            <input  type="email"  class="form-control bg-ligth"  name="email"  placeholder="Email"  value="{{email}}" />
          </div>
          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control bg-ligth " name="name" placeholder="Nombre" value="{{name}}"/>
          </div>
          <div class="mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control bg-ligth" name="apellido" placeholder="Primer Apellido" value="{{apellido}}"/>
                              <input class="visually-hidden" type="number" name="puntos" value=0 readonly>
          </div>
      </div>
  </div>
</div>
              <div class="form-termsAndConditions termsAndConditions" style="color: white;">
                <input type="checkbox" id="termsAndConditions" name="termsAndConditions" onChange="comprobar(this);">
                <label for="termsAndConditions">Acepto los </label>
                <a href="/Estudios/AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES.pdf" target="_blank">Términos y Condiciones</a>
                <p>de la política de protección de datos.</p>
                <p class="mensajeError"></p>
              </div>

          <button class="btn btn-success btn-block" style="background-color: #e31e4d;" >
            Registro
          </button>
        </form>
        </form>
      </div>


    </div>
<br><br>
  </div>
</div>